In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import matplotlib
matplotlib.rcParams['figure.figsize'] = (16,6)
%matplotlib inline

In [3]:
df = pd.read_csv('Color_data.csv')
df

,Quality,Fibre,Count,Finish,Print,Coverage,Consum,Issued,Balance,Meters,Mesh,Rod,Speed,Hits,Color-hits,Viscosity,Machine
0,13200046,CV,32,None,Reactive,11.86,210,240,30,10520,195.0,8.0,30.0,1,1,108.0,2.0
1,13200046,CV,32,None,Reactive,56.84,1060,1080,20,10520,125.0,10.0,30.0,1,1,70.0,2.0
2,13200046,CV,32,None,Reactive,18.55,345,360,15,10520,165.0,10.0,30.0,1,1,75.0,2.0
3,13200046,CV,32,None,Reactive,20.81,342,360,18,10520,165.0,10.0,30.0,1,0,68.0,2.0
4,13200046,CV,32,None,Reactive,4.40,102,120,18,10520,155.0,10.0,30.0,1,0,70.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1301,14000398,CV,40,None,Reactive,4.68,45,70,25,2194,125.0,12.0,30.0,3,1,61.0,1.0
1302,14000398,CV,40,None,Reactive,9.38,73,96,23,2194,125.0,12.0,30.0,3,1,64.0,1.0
1303,14000398,CV,40,None,Reactive,4.54,49,70,21,2194,125.0,12.0,30.0,3,0,62.0,1.0
1304,14000398,CV,40,None,Reactive,4.06,49,74,25,2194,125.0,12.0,30.0,3,2,63.0,1.0
1305,14000398,CV,40,None,Reactive,4.57,51,70,19,2194,125.0,12.0,30.0,3,1,65.0,1.0

In [4]:
df = df.dropna(axis=0,how='any')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 973 entries, 0 to 1305
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Quality     973 non-null    object
 1   Fibre       973 non-null    object
 2   Count       973 non-null    int64
 3   Finish      973 non-null    object
 4   Print       973 non-null    object
 5   Coverage    973 non-null    float64
 6   Consum      973 non-null    int64
 7   Issued      973 non-null    int64
 8   Balance     973 non-null    int64
 9   Meters      973 non-null    int64
 10  Mesh        973 non-null    float64
 11  Rod         973 non-null    float64
 12  Speed       973 non-null    float64
 13  Hits        973 non-null    int64
 14  Color-hits  973 non-null    int64
 15  Viscosity   973 non-null    float64
 16  Machine     973 non-null    float64
dtypes: float64(6), int64(7), object(4)
memory usage: 136.8+ KB

In [6]:
c_list = [i for i in df.columns if df[i].dtype=='object']
c_list

['Quality', 'Fibre', 'Finish', 'Print']

In [7]:
def onehot_cols(cols):
    df_final = df
    i = 0
    for c in cols:
        print(c)
        df1 = pd.get_dummies(df[c], drop_first=True)
        df.drop([c], axis=1, inplace=True)
        if i == 0:
            df_final = df1.copy()
        else:
            df_final = pd.concat([df_final,df1], axis=1)
        i = i+1
    df_final = pd.concat([df, df_final], axis=1)
    return df_final

In [8]:
df = onehot_cols(c_list)

Quality
Fibre
Finish
Print

C:\Python310\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [9]:
df.head()

,Count,Coverage,Consum,Issued,Balance,Meters,Mesh,Rod,Speed,Hits,...,JM,PC,SPC,ST,T,V,Peach,Raise,Pigment,Reactive
0,32,11.86,210,240,30,10520,195.0,8.0,30.0,1,...,0,0,0,0,0,0,0,0,0,1
1,32,56.84,1060,1080,20,10520,125.0,10.0,30.0,1,...,0,0,0,0,0,0,0,0,0,1
2,32,18.55,345,360,15,10520,165.0,10.0,30.0,1,...,0,0,0,0,0,0,0,0,0,1
3,32,20.81,342,360,18,10520,165.0,10.0,30.0,1,...,0,0,0,0,0,0,0,0,0,1
4,32,4.40,102,120,18,10520,155.0,10.0,30.0,1,...,0,0,0,0,0,0,0,0,0,1

In [10]:
df.columns

Index(['Count', 'Coverage', 'Consum', 'Issued', 'Balance', 'Meters', 'Mesh',
       'Rod', 'Speed', 'Hits',
       ...
       'JM', 'PC', 'SPC', 'ST', 'T', 'V', 'Peach', 'Raise', 'Pigment',
       'Reactive'],
      dtype='object', length=122)

In [11]:
X = df.drop(['Consum','Issued','Balance'],axis=1)
y = df.Consum

In [14]:
X.columns

Index(['Count', 'Coverage', 'Meters', 'Mesh', 'Rod', 'Speed', 'Hits',
       'Color-hits', 'Viscosity', 'Machine',
       ...
       'JM', 'PC', 'SPC', 'ST', 'T', 'V', 'Peach', 'Raise', 'Pigment',
       'Reactive'],
      dtype='object', length=119)

In [15]:
y.index

Int64Index([   0,    1,    2,    3,    4,   21,   35,   36,   37,   38,
            ...
            1237, 1241, 1298, 1299, 1300, 1301, 1302, 1303, 1304, 1305],
           dtype='int64', length=973)

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor,AdaBoostRegressor,RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)
#model = GradientBoostingRegressor()
#model = AdaBoostRegressor()
model = RandomForestRegressor()

In [19]:
model.fit(X_train,y_train)
pred = model.predict(X_test)
y_pred = pd.DataFrame(pred)
mae = mean_absolute_error(y_test,y_pred)
mae

36.29441025641026

In [ ]:
def predict_consum(location,sqft,bath,bhk):
    loc_index = np.where(X.columns==location)[0][0]
    x = np.zeros(len(X.columns))
    x[0] = sqft
    x[1] = bath
    x[2] = bhk
    if loc_index >= 0:
        x[loc_index] = 1
    return lrm.predict([x])[0]

In [20]:
import pickle
with open('color_model.pickle','wb') as f:
    pickle.dump(model,f)

In [21]:
import json
columns = {
    'data_columns': [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))