In [90]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import matplotlib
matplotlib.rcParams['figure.figsize'] = (16,6)
%matplotlib inline

In [91]:
df = pd.read_excel('all_data.xlsx')
df = df[:1306]
df

,S. No.,PO,Quality,Design,Fibre,Count,Finish,Print,Coverage,Consum,Issued,Balance,Meters,Mesh,Rod,Speed,Hits,Color-hits,Viscosity,Machine
0,1,P0G0000778,13200046,E003108F05,CV,32,None,Reactive,11.86,210,240,30,10520,195.0,8.0,30.0,1,1,108.0,2.0
1,2,P0G0000778,13200046,E003108F05,CV,32,None,Reactive,56.84,1060,1080,20,10520,125.0,10.0,30.0,1,1,70.0,2.0
2,3,P0G0000778,13200046,E003108F05,CV,32,None,Reactive,18.55,345,360,15,10520,165.0,10.0,30.0,1,1,75.0,2.0
3,4,P0G0000778,13200046,E003108F05,CV,32,None,Reactive,20.81,342,360,18,10520,165.0,10.0,30.0,1,0,68.0,2.0
4,5,P0G0000778,13200046,E003108F05,CV,32,None,Reactive,4.40,102,120,18,10520,155.0,10.0,30.0,1,0,70.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1301,1302,P010014584,14000398,F000135D07,CV,40,None,Reactive,4.68,45,70,25,2194,125.0,12.0,30.0,3,1,61.0,1.0
1302,1303,P010014584,14000398,F000135D07,CV,40,None,Reactive,9.38,73,96,23,2194,125.0,12.0,30.0,3,1,64.0,1.0
1303,1304,P010014584,14000398,F000135D07,CV,40,None,Reactive,4.54,49,70,21,2194,125.0,12.0,30.0,3,0,62.0,1.0
1304,1305,P010014584,14000398,F000135D07,CV,40,None,Reactive,4.06,49,74,25,2194,125.0,12.0,30.0,3,2,63.0,1.0
1305,1306,P010014584,14000398,F000135D07,CV,40,None,Reactive,4.57,51,70,19,2194,125.0,12.0,30.0,3,1,65.0,1.0

In [87]:
new_df = df.drop(['S. No.','PO','Design'],axis=1)

In [88]:
new_df.to_csv('Color_data.csv',index=False)

In [89]:
new_df

,Quality,Fibre,Count,Finish,Print,Coverage,Consum,Issued,Balance,Meters,Mesh,Rod,Speed,Hits,Color-hits,Viscosity,Machine
0,13200046,CV,32,None,Reactive,11.86,210,240,30,10520,195.0,8.0,30.0,1,1,108.0,2.0
1,13200046,CV,32,None,Reactive,56.84,1060,1080,20,10520,125.0,10.0,30.0,1,1,70.0,2.0
2,13200046,CV,32,None,Reactive,18.55,345,360,15,10520,165.0,10.0,30.0,1,1,75.0,2.0
3,13200046,CV,32,None,Reactive,20.81,342,360,18,10520,165.0,10.0,30.0,1,0,68.0,2.0
4,13200046,CV,32,None,Reactive,4.40,102,120,18,10520,155.0,10.0,30.0,1,0,70.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1301,14000398,CV,40,None,Reactive,4.68,45,70,25,2194,125.0,12.0,30.0,3,1,61.0,1.0
1302,14000398,CV,40,None,Reactive,9.38,73,96,23,2194,125.0,12.0,30.0,3,1,64.0,1.0
1303,14000398,CV,40,None,Reactive,4.54,49,70,21,2194,125.0,12.0,30.0,3,0,62.0,1.0
1304,14000398,CV,40,None,Reactive,4.06,49,74,25,2194,125.0,12.0,30.0,3,2,63.0,1.0
1305,14000398,CV,40,None,Reactive,4.57,51,70,19,2194,125.0,12.0,30.0,3,1,65.0,1.0

In [37]:
new_df = new_df.dropna(axis=0,how='any')

In [38]:
df = new_df

In [39]:
df['Issued']=df['Issued'].astype(int)
df['Balance']=df['Balance'].astype(int)
df['Meters']=df['Meters'].astype(int)
df['Mesh Size']=df['Mesh Size'].astype(int)
df['Rod Size']=df['Rod Size'].astype(int)
df['Speed (m/min)']=df['Speed (m/min)'].astype(int)
df['Hits']=df['Hits'].astype(int)
df['Color hits']=df['Color hits'].astype(int)
df['Viscosity (dPas)']=df['Viscosity (dPas)'].astype(int)
df['Machine No.']=df['Machine No.'].astype(int)

In [40]:
c_list = [i for i in df.columns if df[i].dtype=='object']
c_list

['K1', 'Fibre Type', 'Finish Type', 'Print Style']

In [41]:
def onehot_cols(cols):
    df_final = df
    i = 0
    for c in cols:
        print(c)
        df1 = pd.get_dummies(df[c], drop_first=True)
        df.drop([c], axis=1, inplace=True)
        if i == 0:
            df_final = df1.copy()
        else:
            df_final = pd.concat([df_final,df1], axis=1)
        i = i+1
    df_final = pd.concat([df, df_final], axis=1)
    return df_final

In [42]:
df = onehot_cols(c_list)

K1
Fibre Type
Finish Type
Print Style

In [43]:
df.head()

,Count,Coverage (%),Consum,Issued,Balance,Meters,Mesh Size,Rod Size,Speed (m/min),Hits,...,JM,PC,SPC,ST,T,V,Peach,Raise,Pigment,Reactive
0,32.0,11.86,210.0,240,30,10520,195,8,30,1,...,0,0,0,0,0,0,0,0,0,1
1,32.0,56.84,1060.0,1080,20,10520,125,10,30,1,...,0,0,0,0,0,0,0,0,0,1
2,32.0,18.55,345.0,360,15,10520,165,10,30,1,...,0,0,0,0,0,0,0,0,0,1
3,32.0,20.81,342.0,360,18,10520,165,10,30,1,...,0,0,0,0,0,0,0,0,0,1
4,32.0,4.40,102.0,120,18,10520,155,10,30,1,...,0,0,0,0,0,0,0,0,0,1

In [44]:
[i for i in df.columns]

['Count',
 'Coverage (%)',
 'Consum',
 'Issued',
 'Balance',
 'Meters',
 'Mesh Size',
 'Rod Size',
 'Speed (m/min)',
 'Hits',
 'Color hits',
 'Viscosity (dPas)',
 'Machine No.',
 14015,
 16009,
 18006,
 116414,
 120109,
 130176,
 132144,
 132340,
 140117,
 140313,
 140324,
 140367,
 150264,
 150442,
 1400398,
 11600084,
 12000251,
 12400017,
 13000391,
 13000437,
 13200046,
 14000313,
 14000396,
 14000398,
 14000756,
 14500101,
 16000173,
 16000314,
 '120G88',
 '120H89',
 '130C56',
 '130D07',
 '130K00',
 '130Q28',
 '132B147',
 '140J17',
 '150G07',
 '160A63',
 'A120A528',
 'A120B045',
 'A120B375',
 'A120C093',
 'A130A343',
 'A130B074',
 'A130B459',
 'A130B609',
 'A130B652',
 'A130B680',
 'A130C150',
 'A130D001',
 'A130D621',
 'A130K00',
 'A132A44',
 'A132A744',
 'A132A901',
 'A132A927',
 'A132B006',
 'A132B147',
 'A132B148',
 'A1400058',
 'A1400232',
 'A140A622',
 'A140C096',
 'A140C537',
 'A140C538',
 'A140D080',
 'A140D377',
 'A140D660',
 'A140D663',
 'A140D722',
 'A140E042',
 'A140E111',
 'A140E129',
 'A145A279',
 'A145A280',
 'A145A281',
 'A145A387',
 'A150B433',
 'A150B589',
 'A150B593',
 'A150C071',
 'A150C549',
 'A150C944',
 'A150C971',
 'A150D067',
 'A150D079',
 'A150D080',
 'A1600279',
 'A160A416',
 'A160A483',
 'A160A742',
 'A160B551',
 'A160B684',
 'A180A234',
 'A280A354',
 'A2A0A621',
 'CV',
 'FX',
 'GSCN',
 'JM',
 'PC',
 'SPC',
 'ST',
 'T',
 'V',
 'Peach',
 'Raise',
 'Pigment',
 'Reactive']

In [45]:
X = df.drop(['Consum','Issued','Balance'],axis=1)
y = df.Consum

In [48]:
X.to_csv("new_df.csv",index=False)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor,AdaBoostRegressor,RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [72]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)
#model = GradientBoostingRegressor()
#model = AdaBoostRegressor()
model = RandomForestRegressor()

In [73]:
model.fit(X_train,y_train)
pred = model.predict(X_test)
y_pred = pd.DataFrame(pred)
mae = mean_absolute_error(y_test,y_pred)
mae

C:\Python310\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
C:\Python310\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

34.962

In [74]:
y_test.to_csv('y_test.csv',index=False)
y_pred.to_csv('y_pred.csv',index=False)